/* Container Styling */
.projects-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem 1rem;
    background-color: #f5f5f5 !important;
}


/* Title Styling */
.projects-title {
    font-size: 10rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.display-box {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.projects-grid {
    display: flex;
    gap: 20px;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.card-structure {
    height: 400px !important;
    width: 30vw !important;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px !important;
    margin: 20px;
}

.card-structure:hover {
    transform: translateY(-5px);
    height: 400px !important;
    width: 35vw !important;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* Typography Styling */
.project-name,
.project-description,
.project-technologies {
    margin: 0;
    height: auto;
}

/* Project Name Styling */
.project-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a73e8;
    margin: 1rem 0;
}

/* Project Description Styling */
.project-description {
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Technologies Used Styling */
.project-technologies {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Links Styling */
.project-links {
    display: flex;
    gap: 15px;
}

.project-link {
    font-size: 0.9rem;
    color: #1a73e8;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.project-link:hover {
    color: #0056b3;
    border-color: #0056b3;
}

.card-content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 10px;
}

/* Hide the downslider and previous button */
.downslider,
.previous-button {
    display: none !important;
}

/* dot styling */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #1a73e8;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-structure-prev {
    height: 300px !important;
    width: 20vw !important;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /* transition: transform 0.3s, box-shadow 0.3s; */
    padding: 20px !important;
    margin: 20px;
}

.card-structure.active {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card-structure.active {
    animation: fadeIn 0.3s ease-in-out;
}

.card-structure-prev.active {
    animation: fadeIn 0.3s ease-in-out;
}

.carousel-button {
    padding: 30px;
}